<h3 class="text-center">New Note</h3>

<% if params['valid'].present? %>
  <h4 class="text-center">Invalid File Type (images, text, or pdfs only)</h4>
<% end %>

<table class="table">
  <tr>
    <th>Class Name</th>
    <th>Topic</th>
    <th colspan="2">Content</th>
  </tr>

  <tr>
    <%= form_for([@user, @user.notes.build]) do |f| %>
      <td>
        <p class="text-center"><%= f.text_field :c_name %></p>
      </td>

      <td>
        <p class="text-center"><%= f.text_field :topic %></p>
      </td>

      <td>
        <p class="text-center"><%= f.file_field :content %></p>
      </td>
     
      <td>
        <%= f.submit "Create Note!" %>
      </td>
    <% end %>
  </tr>
</table>