<h1>Edit Note</h1>

<%= form_for :note, url: user_note_path(@note.user.id, @note.id), method: :patch do |note| %>
  <p>
    <%= note.label :Class %>
    <%= note.text_field :c_name %>
  </p>

  <p>
    Add more topics! (separate with commas)
  </p>
  <input id="note_topics" name="note[topics]" type="text">

  <% if @note.topics.length > 1%>
    <h3>Delete an existing topic!</h3>

    <% @note.topics.each do |note_topic| %>
        | <%= link_to note_topic.topic, note_topic_path(@note, note_topic),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
    <% end %>
    |
  <% end %>

  <% if @note.note_contents.length > 1%>
    <h3>Delete an existing file!</h3>

    <% @note.note_contents.each do |note_content| %>
        | <%= link_to note_content.content_file_name, note_notecontent_path(@note, note_content),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
    <% end %>
    |
  <% end %>

  <h3>Add a new file!</h3>

  <% if params[:invalid].present? %>
    <h4>Invalid file type (images, text, or pdfs only)</h4>
  <% end %>

  <p>
    <%= note.file_field :content %>
  </p>
 
  <p>
    <%= note.submit "Edit Note!" %>
  </p>
<% end %>