<h1>New Note</h1>

<%= form_for :note, url: user_notes_path do |f| %>
  <p>
    <%= f.label :c_name %>
    <%= f.text_field :c_name %>
  </p>

  <p>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.file_field :content %>
  </p>
 
  <p>
    <%= f.submit "Create Note!" %>
  </p>
<% end %>