<%= form_for :login, url: login_path do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login!" %>
    <%= link_to 'New User?', new_user_path %>
  </p>
<% end %>